<p class="login-box-msg">Sign in to start your session</p>
  
<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-group mb-1">
        <input type="email" class="form-control" [ngClass]="{'is-invalid': $any(form.controls['email']).message }" placeholder="Email" formControlName="email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
        <div class="col-12 errors">
            <span class="error invalid-feedback" style="display: block;">
                {{$any(form.controls['email']).message}}
            </span>
        </div>
    </div>
    <div class="input-group mb-1">
        <input type="password" class="form-control" [ngClass]="{'is-invalid': $any(form.controls['password']).message }" placeholder="Password" formControlName="password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <div class="col-12 errors">
            <span class="error invalid-feedback" style="display: block;">
                {{$any(form.controls['password']).message}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <!-- <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                    Remember Me
                </label>
            </div> -->
        </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<!-- <div class="social-auth-links text-center mt-2 mb-3">
    <a href="#" class="btn btn-block btn-primary">
    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
    </a>
    <a href="#" class="btn btn-block btn-danger">
    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
    </a>
</div> -->
<!-- /.social-auth-links -->

<!-- <p class="mb-1">
    <a href="forgot-password.html">I forgot my password</a>
</p> -->
<p class="mb-0">
    <a [routerLink]="['/auth', 'register' ]" class="text-center">Register a new membership</a>
</p>