.menu-border-line {
    border-bottom: 1px solid #4f5962;
}
.control-sidebar {
    z-index: 9999;
}
.loader {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    height: 0px;
    width: 100%;
    transition: height .2s linear;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
.animation-shake {
    animation: shake 1.5s infinite linear;
}