
.percentage {
    border-radius: 5px;
    padding: 5px 12px;
    margin-left: 10px;
}
.percentage.below {
    background-color: rgba(255, 0, 0, 0.3);
    color: rgb(210, 0, 0);
}
.percentage.above {
    background-color: rgba(0, 150, 0, 0.3);
    color: rgb(0, 160, 0);
}

/*----- Navigation -----*/
.nav-item:hover {
    cursor: pointer;
}

/*----- Multiselect -----*/
.multiselect-dropdown .dropdown-btn {
    border: 1px solid #ced4da !important;
}

/*----- Form -----*/
.errors {
    min-height: 20px;
}